body{
    background-color: #FFFFFF;
}

.container{
    background-color: #B4BEC9;
    display: flex;
    justify-content: space-between;
    text-align: be;
    width: 60%;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
}
.div{
    background-color: #159A9C;
    width: 30%;
    height: 300px;
    text-align: center;
    

}

#divpage1{
   display: none;  
}
.divpage1{

    display: var(--display);
}